<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="#">Contact Info</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link disabled">|</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="navigateToAddContact();">Add Contact</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link">Edit Contact</a>
      </li>
      <li class="nav-item">
          <a class="nav-link">Delete Contact</a>
      </li> -->
      <li class="nav-item">
          <a class="nav-link" (click) = "navigateToContactList();">Contact List</a>
      </li>
    </ul>
  </div>
</nav>

