<app-header></app-header>
<div class="container-fluid backgroundLanding">
    <div class="borderDiv">
        <h2 class="titleText">Contact people through Contacts !!!</h2>
        <div class="row contentDiv">
            <div class="col-sm-8 col-md-8 col-lg-8 offset-md-2 offset-lg-2">
                <div class="text-center">
                    <div class="row">
                        <div class="col-sm-3 col-md-3">
                        <img src="../../assets/images/shareaddicon.png">
                        <p class="img-info">1. Add Contact</p> 
                        </div>
                        <div class="col-sm-3 col-md-3">
                            <img src="../../assets/images/shareaddicon.png">
                            <p class="img-info">2. Edit Contact Details</p> 
                        </div>
                        <div class="col-sm-3 col-md-3">
                            <img src="../../assets/images/shareaddicon.png">
                            <p class="img-info">3. Delete Contact</p> 
                        </div>
                        <div class="col-sm-3 col-md-3">
                            <img src="../../assets/images/shareaddicon.png">
                            <p class="img-info">4. Contact List</p> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 col-lg-4 col-md-4 offset-lg-4 offset-md-4">
                <p class="infoTxt" style="padding-top: 7px; padding-bottom: 7px">
                    To get started, click on add contact button
                </p>
            </div>
        </div>
        <div class="contactImgDiv">
            <img src="../../assets/images/contact-icon.png" class="contactImg">
        </div>
        <div class="contactImgDiv">
            <button class="btn btn-info" (click) = "navigateToAddContact();">Add Contact</button>
        </div>

    </div>
</div>
