<app-header></app-header>
<div class="container-fluid">
  <div class="borderDiv">
    <div class="centerDivClass">
      <!-- <img src="../../assets/images/shareaddicon.png"> -->
      <h5 class="subTitle">Contact List</h5>
    </div>
    <div class="table-responsive mTop30 mBottom30">
      <table class="table table-striped" style="width: 90%;margin: 0 auto;">
        <thead>
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Phone Number</th>
            <th>Email Id</th>
            <th>Status</th>
            <th>Delete Contact</th>
            <th>Edit Contact</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor = "let contact of contactList; let i = index">
            <td>{{contact.firstName}}</td>
            <td>{{contact.lastName}}</td>
            <td>{{contact.phoneNo}}</td>
            <td>{{contact.email}}</td>
            <td>{{contact.status}}</td>
            <td><button class="btn btn-info" (click) = "deleteContactFormList(contact.randomKey,i)">Delete Contact</button></td>
            <td><button class="btn btn-info" (click)="updateContact(contact.randomKey,contact.firstName,contact.lastName,contact.phoneNo,contact.email,contact.status);">Edit Contact</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
